<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${pageTitle}]] | The therapy place</title>
    <link rel="stylesheet" th:href="@{/css/style1.css}">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="keywords" content="clinic">
    <meta name="description" content="Programming III Project">
</head>

<body>
    <!-- HEADER-NAVBAR-->
    <div class="navbar-container" th:fragment="header">
        <nav class="nav">
            <a href="/" title="Return to Home"><img th:src="@{/images/logo.png}" class="img-home"></a>
            <ul class="menu">
                <li class="home">
                    <a href="/" title="Return to Home">Home</a>
                </li>
                <li>Services
                    <ul class="sub-menu">
                        <li><a href="/speech_therapy" title="Speech Therapy">Speech Therapy</a></li>
                        <li><a href="/special_education" title="Special Education">Special Education</a></li>
                    </ul>
                </li>
                <li>Register
                    <ul class="sub-menu">
                        <li><a href="/patient_register" title="Register as Patient">as Patient</a></li>
                        <li><a href="/doctor_register" title="Register as Doctor">as Therapist</a></li>
                    </ul>
                </li>
                <li>Log In
                    <ul class="sub-menu">
                        <li><a href="/patient/login" title="Log in as Patient">as Patient</a></li>
                        <li><a href="/doctor/login" title="Log in as Therapist">as Therapist</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- HEADER Logged in (patients) -->
    <div class="navbar-container" th:fragment="header-logged-in-patient">
        <nav class="nav">
            <a href="/patient/homepage" title="Return to Homepage"><img th:src="@{/images/logo.png}" class="img-home"></a>
            <ul class="menu">
                <li><a href="/patient/homepage" title="Return to Homepage">Hello, [[${patient.firstName}]]</a></li>
                <li>Need a Therapist?
                    <ul class="sub-menu">
                        <li><a href="/patient/addTicket" title="">Submit a New Ticket</a></li>
                        <li><a href="/patient/viewTickets" title="">View All Tickets</a></li>
                    </ul>
                </li>
                <li>My Account
                    <ul class="sub-menu">
                        <li><a th:href="@{'/patient/edit/' + ${patient.patientID}}" title="View Account Info">Account
                                Information</a></li>
                    </ul>
                </li>
                <li><a href="/patient/logout" title="Log Out">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- HEADER Logged in (doctors) -->
    <div class="navbar-container1" th:fragment="header-logged-in-doctor">
        <nav class="nav1">
            <a href="/doctor/homepage" title="Return to Homepage"><img th:src="@{/images/logo.png}"
                    class="img-home1"></a>
            <ul class="menu1">
                <li><a href="/doctor/homepage" title="Return to Homepage">Hello, Dr.[[${doctor.lastName}]]</a>
                </li>
                <li>Health Tickets
                    <ul class="sub-menu1">
                        <li><a href="/doctor/viewTickets" title="View Active Tickets">View Active Tickets</a></li>
                    </ul>
                    <ul class="sub-menu1">
                        <li><a href="/doctor/viewResolvedTickets" title="View Resolved Tickets">View Resolved
                                Tickets</a></li>
                    </ul>
                </li>
                <li>My Account
                    <ul class="sub-menu1">
                        <li><a th:href="@{'/doctor/edit/' + ${doctor.doctorID}}" title="View Account Info">Account
                                Information</a></li>
                    </ul>
                </li>
                <li><a href="/doctor/logout" title="Log Out">Log Out</a></li>
            </ul>
        </nav>
    </div>


    <!-- FOOTER -->
    <div class="footer" th:fragment="footer">
<!--        <p>Made by THE REGEX ©2022 <a href="https://github.com/ChristopherPerrault/Clinic"-->
<!--                title="View Clinic on GitHub"><img th:src="@{/images/GitHub-Mark-32px.png}"></a>-->
<!--        </p>-->
        <div class="copyright">&copy Coding Factory, AUEB, All rights reserved, 2023</div>
        <div class="social">
            <span class="follow">Follow us:</span>
            <i class="social-text fa-brands fa-facebook"></i>
            <i class="social-text fa-brands fa-twitter"></i>
        </div>

    </div>
</body>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->


<!--<head th:fragment="head">-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    &lt;!&ndash; Dynamic titles, each view takes in a generic Model and adds pageTitle as an attribute, which is the passed here, thus appearing correctly depending on which page you are viewing &ndash;&gt;-->
<!--    <title>[[${pageTitle}]] | The therapy place</title>-->
<!--    <link rel="stylesheet" th:href="@{../css/style1.css}">-->
<!--    <link rel="icon" th:href="@{/images/favicon.ico}">-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">-->

<!--    <meta name="keywords" content="clinic">-->
<!--    <meta name="description" content="Programming III Project">-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; HEADER-NAVBAR&ndash;&gt;-->
<!--<div class="navbar-container" th:fragment="header">-->
<!--    <nav class="nav">-->
<!--        <a href="/" title="Return to Home"><img th:src="@{/images/home-button-img.jpg}" class="img-home"></a>-->
<!--        <ul class="menu">-->
<!--&lt;!&ndash;            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="oi oi-menu"></span> Menu&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->

<!--            <div class="collapse navbar-collapse">-->
<!--                <ul class="navbar-nav">-->
<!--                    <li class="nav-item"><a class="nav-link">Home</a></li>-->
<!--                    <li class="nav-item"><a  class="nav-link">About</a></li>-->
<!--                    <li class="nav-item"><a  class="nav-link">Departments</a></li>-->
<!--                </ul>-->
<!--                <li>Register-->
<!--                    <ul class="sub-menu">-->
<!--                        <li><a href="/patient_register" title="Register as Patient">as Patient</a></li>-->
<!--                        <li><a href="/doctor_register" title="Register as Doctor">as Doctor</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li>Log In-->
<!--                    <ul class="sub-menu">-->
<!--                        <li><a href="/patient/login" title="Log in as Patient">as Patient</a></li>-->
<!--                        <li><a href="/doctor/login" title="Log in as Doctor">as Doctor</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </div>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->

<!--&lt;!&ndash; HEADER Logged in (patients) &ndash;&gt;-->
<!--<div class="navbar-container" th:fragment="header-logged-in-patient">-->
<!--    <nav class="nav">-->
<!--        <a href="/patient/homepage" title="Return to Homepage"><img th:src="@{/images/home-button-img.jpg}"-->
<!--                                                                    class="img-home"></a>-->
<!--        <ul class="menu">-->
<!--            <li><a href="/patient/homepage" title="Return to Homepage">Hello, [[${patient.firstName}]]</a></li>-->
<!--            <li>Need a Doctor?-->
<!--                <ul class="sub-menu">-->
<!--                    <li><a href="/patient/addTicket" title="">Submit a New Ticket</a></li>-->
<!--                    <li><a href="/patient/viewTickets" title="">View All Tickets</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>My Account-->
<!--                <ul class="sub-menu">-->
<!--                    <li><a th:href="@{'/patient/edit/' + ${patient.patientID}}" title="View Account Info">Account-->
<!--                        Information</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li><a href="/patient/logout" title="Log Out">Log Out</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->

<!--&lt;!&ndash; HEADER Logged in (doctors) &ndash;&gt;-->
<!--<div class="navbar-container" th:fragment="header-logged-in-doctor">-->
<!--    <nav class="nav">-->
<!--        <a href="/doctor/homepage" title="Return to Homepage"><img th:src="@{/images/home-button-img.jpg}"-->
<!--                                                                   class="img-home"></a>-->
<!--        <ul class="menu">-->
<!--            <li><a href="/doctor/homepage" title="Return to Homepage">Hello, Dr.[[${doctor.lastName}]]</a>-->
<!--            </li>-->
<!--            <li>Health Tickets-->
<!--                <ul class="sub-menu">-->
<!--                    <li><a href="/doctor/viewTickets" title="View Active Tickets">View Active Tickets</a></li>-->
<!--                </ul>-->
<!--                <ul class="sub-menu">-->
<!--                    <li><a href="/doctor/viewResolvedTickets" title="View Resolved Tickets">View Resolved-->
<!--                        Tickets</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>My Account-->
<!--                <ul class="sub-menu">-->
<!--                    <li><a th:href="@{'/doctor/edit/' + ${doctor.doctorID}}" title="View Account Info">Account-->
<!--                        Information</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li><a href="/doctor/logout" title="Log Out">Log Out</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->


<!--&lt;!&ndash; FOOTER &ndash;&gt;-->
<!--<div class="footer" th:fragment="footer">-->
<!--    <p>Made by THE REGEX ©2022 <a href="https://github.com/ChristopherPerrault/Clinic"-->
<!--                                  title="View Clinic on GitHub"><img th:src="@{/images/GitHub-Mark-32px.png}"></a>-->
<!--    </p>-->
<!--    <div class="social">-->
<!--        <span>Follow us:</span>-->
<!--        <i class="social-text fa-brands fa-facebook"></i>-->
<!--        <i class="social-text fa-brands fa-twitter"></i>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->