<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">


<body>
<div th:replace="fragments :: header"></div>
<div>
  <h1 class="title" th:text="${pageTitle}">Special Education</h1>
  <div class="text">
    <p>Special education is the practice of educating students
      in a way that accommodates their individual differences, disabilities and special needs.
      This involves the individually planned and systematically monitored arrangement of teaching procedures, adapted equipment and materials, and accessible settings.
      These interventions are designed to help individuals with special needs achieve a higher level of personal Self-sufficiency and success in school and in their community.
    </p>
    <h3><strong>What is the difference between special and regular education?</strong></h3><br>
    <p>Regular education is the term often used to describe the educational experience of typically developing children. By the other hand, Special Education programs are designed for those students who are mentally,
      physically, socially or emotionally delayed, which places them behind their peers.<br>
    <br>
    <h3><strong>Special Education Process at Wings To Fly Child Development Center:</strong></h3><br>
    <p>Assessment will be taken to know about the child present level of academic and functional performance<br>
      <br>
      Based on the Assessment Report IEP (Individualized Education Plan/ Individualized Education Program) Goals will be framed.<br>
      <br>
      Based on the learning Style of children, Appropriate Teaching strategies and methodologies will be used to teach the children to help them to achieve their age based and need based goals<br>
      <br>
      Child progress will be continuously tracked and documented.<br>
      <br>
      <h3><strong>Who can benefit from special education?</strong></h3><br>
      Learning Disability<br>
      Dyslexia<br>
      Dysgraphia<br>
      Dyscalculia<br>
      Autism Spectrum Disorder<br>
      Communication Disorders<br>
      Emotional and Behavioral Disorders<br>
      Intellectual Disabilities<br>
      Down syndrome<br>

    </p>


  </div>

</div>
<div th:replace="fragments :: footer"></div>


</body>

</html>